[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.0.0"
djangorestframework = "*"
django-filter = "*"
django-crispy-forms = "*"
omdb = "*"
gunicorn = "*"
"psycopg2" = "*"
newrelic = "*"
django-configurations = "*"
dj-database-url = "*"

[dev-packages]
pytest-django = "*"
black = "*"
"flake8" = "*"
mypy = "*"
factory-boy = "*"
pytest-factoryboy = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
